* {
  margin: 0;
  padding: 0;
  opacity: 0;
}

body {
  background: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

#body {
  overflow: hidden !important;
}

.preloader {
  position: fixed;
  will-change: transform;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  background: black;
  z-index: 10000;
  overflow: hidden;
  opacity: 0;
  display: none;
  height: 100%;
  width: 100%;
  display: block;
  transition: transform 0.5s ease-in, left 0.5s ease-out;
  pointer-events: none !important;
  text-align: center;
}

.preloader .loading-bar span {
  display: inline-block;
  font-family: "Shadows Into Light";
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: rgb(119, 145, 145);
  margin-bottom: 20px;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 160px;
}
@media screen and (max-width: 420px) {
  .loading-bar {
    width: 340px;
  }
}

@media screen and (max-width: 350px) {
  .loading-bar {
    width: 260px;
  }
}

.loading-fill {
  height: 1px;
  background: rgb(124 112 112 / 30%);
}

.filling {
  background: linear-gradient(to right, #08fdd8, #710e85);
  height: 1px;
  animation: fill 1s;
}
@keyframes fill {
  0% {
    width: 0%;
    background-color: linear-gradient(to right, #08fdd8, #710e85);
  }
  100% {
    width: 100%;
    background-color: linear-gradient(to right, #08fdd8, #710e85);
  }
}

#preloader.active {
  left: 0; /* Move preloader into full display position */
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-out, left 0.5s ease-out;
  pointer-events: none !important;
}

#preloader.inactive {
  left: 100%; /* Move preloader off-screen right */
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-out, left 0.3s ease-out;
  pointer-events: none !important;
}

/* ----------------ANIMATED TEXT SPHERE---------------------- */

.Sphere {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .Sphere {
    padding-bottom: 80px;
    margin-top: 50px;
  }
}

.tagcloud {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #9eeae6;
}

@media screen and (max-width: 580px) {
  .tagcloud {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 650;
  }
}

.tagcloud--item:hover {
  color: rgb(174, 111, 60);
}

/* --------------------------TAGS------------------------ */

.tags {
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 4vw;
  font-style: italic;
  font-size: 1.4rem;
  font-family: "La Belle Aurore", cursive;
}

.top-tags {
  font-size: 1.4rem;
  bottom: auto;
  top: 1vh;
  margin-left: -2vw;
}

.top-tags::after {
  content: "<body>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.4rem;
  position: absolute;
  margin-left: 1vw;
}

.bottom-tags {
  font-size: 1.4rem;
  bottom: 1vh;
  top: auto;
  margin-left: -2vw;
}

.bottom-tags::before {
  content: "</body>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.4rem;
  position: absolute;
  margin-left: 2vw;
}

/* --------------------------MAIN MENU------------------------ */

.main-menu {
  position: absolute;
  top: 50px;
  left: 35%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
  z-index: 9999;
}

@media screen and (max-width: 1210px) {
  .main-menu {
    left: 30%;
  }
}

.main-menu-contact {
  left: 13%;
}
@media screen and (max-width: 1191px) {
  .main-menu-contact {
    left: 30%;
  }
}

.main-menu-list {
  padding: 0;
  margin: 0;
}

.main-menu-list li {
  display: inline-block;
  list-style: none;
}

.main-menu-list li a {
  position: relative;
  font-family: "Shadows Into Light";
  text-decoration: none;
  color: #69696b;
  font-size: 1.6svw;
  margin: 0 20px;
}

.main-menu-list li a::before {
  position: absolute;
  color: #fff;
  top: 0px;
  left: 0px;
  padding: 10px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.main-menu-list li a:hover::before {
  transform: scale(1);
  opacity: 1;
}

.main-menu-list a:active,
.main-menu-list a:visited {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .main-menu {
    display: none;
  }
}

/* -------------------------COLLAPSIBLE NAVBAR--------------- */

.navbar {
  display: none;
}

@media (max-width: 992px) {
  .navbar {
    overflow: hidden;
    background-color: rgb(24 1 24);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    opacity: 0.75;
    display: block;
    padding: 0;
    text-align: center;
  }
  .navbar a {
    color: #f4eeee;
    opacity: 1;
    font-size: 0.9rem;
  }
}

.navbar a:hover {
  color: teal;
}

#nav-icon2 {
  width: 40px;
  height: 45px;
  position: fixed;
  top: 0;
  right: 0.5%;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 14px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 28px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 3px;
  top: 11px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 4px);
  top: 11px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 3px;
  top: 25px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: 25px;
}

.outerPage {
  position: relative;
}

.section-home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: opacity 3s ease;
}

.section-page {
  min-height: 100vh;
  padding: 2rem 4rem 0 4rem;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 580px) {
  .section-page {
    padding: 0;
  }
}
/* -------------------------------------------SECTION HOME------------------------------------------- */

.page-home .text-zone {
  position: relative;
  z-index: 10;
  width: auto;
  min-width: 350px;
  background: transparent;
  padding: 20px;
  margin: 30px;
  font-size: 30px;
  opacity: 1;
  transition: opacity 3s ease;
}

@media screen and (max-width: 380px) {
  .page-home .text-zone {
    margin: 15px;
  }
}

.page-home .text-zone::before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -2vh;
  left: -10px;
}

.main-title {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: clamp(2rem, 1rem + 4vw, 4rem);
  line-height: clamp(2.5rem, 1rem + 5vw, 5rem);
  position: relative;
  opacity: 1;
  margin-bottom: 80px;
}

/*    TypeWriter Effect      */

.typewriter {
  overflow: hidden;
  border-right: 0.15px solid #f8f6f6;
  white-space: nowrap;
  animation: typing 2.5s steps(20, end) forwards, blinking 0.8s infinite;
  transform-origin: 50% 50%;
  height: 4em;
  width: 0;
}
@keyframes pause-typing {
  50% {
    animation-play-state: paused;
  }
  to {
    animation-play-state: paused;
  }
}

.paused {
  animation-play-state: paused;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 99%;
  }
}
@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: #ffffff;
  }
}

.main-title::after {
  content: "</h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: relative;
  top: 1.8vh;
  left: -8px;
}

.main-title .title {
  display: inline-block;
}

/* -----------ANIMATION ON HOVER (H1 - .MAIN-TITLE)-------------- */
.main-title .title:hover {
  color: teal;
  animation: letters 0.9s;
}
@keyframes letters {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* -------ANIMATED TEXT HOP------ */

.wavy {
  position: relative;
  margin-bottom: 50px;
  font-size: 1.7vw;
  color: white;
  font-weight: 100;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  .wavy {
    -webkit-box-reflect: below -6px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  }
}
@media screen and (max-width: 800px) {
  .wavy {
    -webkit-box-reflect: below -6px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  }
}
@media screen and (max-width: 700px) {
  .wavy {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 580px) {
  .wavy {
    font-size: 3vw;
  }
}
@media screen and (max-width: 410px) {
  .wavy {
    font-size: 4vw;
    -webkit-box-reflect: below -6px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  }
}

.wavy::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -3.7vh;
  margin-left: -25px;
}
@media screen and (max-width: 760px) {
  .wavy::before {
    font-size: 0.9rem;
  }
}
.wavy::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: 5vh;
  margin-left: 1vw;
}
@media screen and (max-width: 1210px) {
  .wavy::after {
    font-size: 1.1rem;
    margin-top: 3.6vh;
  }
}
@media screen and (max-width: 760px) {
  .wavy::after {
    font-size: 0.9rem;
    margin-top: 2.9vh;
  }
}

.wavy span {
  display: inline-block;
  animation: animate 1.5s ease-in-out infinite;
  animation-delay: calc(0.07s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

/* ----------------------------------------SECTION ABOUT----------------------------------------- */

.page-about {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  line-height: 1.5;
  z-index: 10;
  pointer-events: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1210px) {
  .page-about {
    display: block;
  }
}

.page-about .text-zone {
  position: relative;
  z-index: 10;
  width: 35%;
  background: transparent;
  padding: 70px 0;
}

@media screen and (max-width: 1210px) {
  .page-about .text-zone {
    width: 60%;
    margin: auto;
    padding: 110px 0 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .page-about .text-zone {
    width: 80%;
    margin: auto;
    padding: 60px 0 0 0;
    /* text-align: left; */
  }
}

@media screen and (max-width: 576px) {
  .page-about .text-zone {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 410px) {
  .page-about .text-zone {
    width: 80%;
    margin: auto;
    padding: 100px 0 0 0;
    text-align: left;
  }
}

header {
  position: relative;
}

.main-title2 {
  font-family: "Shadows Into Light";
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  position: relative;
  margin-bottom: 50px;
  padding-top: 50px;
}

/* @media screen and (max-width: 1210px) {
    .main-title2 {
      margin-top: -3rem;
    }
  } */

.main-title2::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -20px;
  margin-right: -30px;
}

.main-title2::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: 45px;
}

/* @media screen and (max-width: 576px) {
    .main-title2::after {
      margin-top: 4vh;
    }
  } */

.titleSkills:hover {
  display: inline-block;
  color: teal;
  animation: letters 0.9s;
}

.introText {
  display: inline-block;
  font-size: clamp(1rem, 1.5rem + 1.9vw, 1rem);
  color: #fff;
  margin: 0 0 40px 0;
  font-style: italic;
  font-size: clamp(1rem, 1.5rem + 1.9vw, 1rem);
  color: #fff;
  opacity: 0;
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.introText:nth-child(2) {
  animation: fade-in 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.introText:nth-child(3) {
  animation: fade-in 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.introText:nth-child(4) {
  animation: fade-in 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.introText:nth-child(5) {
  animation: fade-in 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.introText:first-of-type::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -25px;
  left: -10px;
}

.introText:last-of-type::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: 25px;
}

@media screen and (max-width: 1570px) {
  .introText {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .introText {
    font-size: 14px;
  }
}

/* --------------------------------------------SECTION-SKILLS------------------------------------------------------- */

.page-skills {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}

@media screen and (max-width: 1562px) {
  .page-skills {
    display: block;
  }
}

.page-skills .text-zone {
  position: relative;
  z-index: 10;
  width: 60%;
  background: transparent;
  padding: 150px 0 50px 0;
}
@media screen and (max-width: 1562px) {
  .page-skills .text-zone {
    margin: auto;
    text-align: center;
    width: 50%;
  }
}
@media screen and (max-width: 1210px) {
  .page-skills .text-zone {
    margin: auto;
    text-align: center;
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .page-skills .text-zone {
    margin: auto;
    text-align: center;
    width: 85%;
  }
}
@media screen and (max-width: 410px) {
  .page-skills .text-zone {
    text-align: left;
  }
}
.introText2 {
  display: inline-block;
  font-size: clamp(1rem, 1.5rem + 1.9vw, 1rem);
  color: #fff;
  margin: 0 10px 40px 10px;
  font-style: italic;
  opacity: 0;
  animation: scale2 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale2 {
  100% {
    transform: scale(1);
  }
}

.introText2:nth-child(2) {
  animation: fade-in2 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.introText2:nth-child(3) {
  animation: fade-in2 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.introText2:nth-child(4) {
  animation: fade-in2 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.introText2:nth-child(5) {
  animation: fade-in2 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in2 {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.brief-description {
  font-family: "Shadows Into Light";
  font-style: italic;
  font-size: 35px;
  color: white;
  margin-bottom: 50px;
}
@media screen and (max-width: 410px) {
  .brief-description {
    font-size: 30px;
  }
}

.brief-description::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -25px;
}

.brief-description::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: 35px;
}

.brief-description span:hover {
  display: inline-block;
  color: teal;
  animation: letters 0.9s;
}

.page-skills .text-zone .introText2:first-of-type::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -4vh;
  margin-left: -1vw;
}

.page-skills .text-zone .introText2:last-of-type::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: 3vh;
  margin-left: 0.5vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
  padding-bottom: 40px;
  min-width: 320px;
}

@media screen and (max-width: 1562px) {
  .container {
    min-height: 100vh;
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 80%; /* set a smaller max-width for the container */
  }
}
@media screen and (max-width: 460px) {
  .container {
    min-height: auto;
  }
}
.container__progressbars {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 25%;
  min-height: 65%;
  gap: 4rem;
}
@media screen and (max-width: 1562px) {
  .container__progressbars {
    justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .container__progressbars {
    min-width: 190px;
    gap: 3rem;
  }
}
@media screen and (max-width: 510px) {
  .container__progressbars {
    min-width: 160px;
    gap: 1rem;
  }
}
@media screen and (max-width: 460px) {
  .container__progressbars {
    min-width: 115px;
  }
}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 0 20px 0 20px;
  transform: rotate(-90deg);
}
@media screen and (max-width: 850px) {
  .progressbar {
    transform: rotate(-90deg) scale(0.8); /* scale down the progress bars */
  }
}
@media screen and (max-width: 690px) {
  .progressbar {
    margin: 0 20px 10px 20px;
    transform: rotate(-90deg) scale(0.7);
  }
}
@media screen and (max-width: 510px) {
  .progressbar {
    margin: 0 20px 10px 10px;
    transform: rotate(-90deg) scale(0.7);
  }
}
@media screen and (max-width: 460px) {
  .progressbar {
    width: 170px;
    height: 170px;
    margin: 10px;
    transform: rotate(-90deg) scale(0.5); /* scale down the progress bars */
  }
}

.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 690px) {
  .progressbar__svg {
    width: auto;
  }
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: white;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.shadow-html {
  filter: drop-shadow(0 0 5px #ff6633);
}
.shadow-css {
  filter: drop-shadow(0 0 5px #33bbff);
}
.shadow-bootstrap {
  filter: drop-shadow(0 0 5px #ff33ff);
}
.shadow-js {
  filter: drop-shadow(0 0 5px #ffff33);
}
.shadow-jquery {
  filter: drop-shadow(0 0 5px #3377ff);
}
.shadow-node {
  filter: drop-shadow(0 0 5px #55ff33);
}
.shadow-express {
  filter: drop-shadow(0 0 5px #33ffff);
}
.shadow-ps {
  filter: drop-shadow(0 0 5px #ff3333);
}
.shadow-figma {
  filter: drop-shadow(0 0 5px #33ff88);
}

.circle-html {
  -webkit-animation: anim_circle-html 4.5s ease-in-out forwards;
  animation: anim_circle-html 4.5s ease-in-out forwards;
}
.circle-css {
  -webkit-animation: anim_circle-css 4.5s ease-in-out forwards;
  animation: anim_circle-css 4.5s ease-in-out forwards;
}
.circle-bootstrap {
  -webkit-animation: anim_circle-bootstrap 4.5s ease-in-out forwards;
  animation: anim_circle-bootstrap 4.5s ease-in-out forwards;
}
.circle-js {
  -webkit-animation: anim_circle-js 4.5s ease-in-out forwards;
  animation: anim_circle-js 4.5s ease-in-out forwards;
}
.circle-jquery {
  -webkit-animation: anim_circle-jquery 4.5s ease-in-out forwards;
  animation: anim_circle-jquery 4.5s ease-in-out forwards;
}
.circle-node {
  -webkit-animation: anim_circle-node 4.5s ease-in-out forwards;
  animation: anim_circle-node 4.5s ease-in-out forwards;
}
.circle-express {
  -webkit-animation: anim_circle-express 4.5s ease-in-out forwards;
  animation: anim_circle-express 4.5s ease-in-out forwards;
}
.circle-ps {
  -webkit-animation: anim_circle-ps 4.5s ease-in-out forwards;
  animation: anim_circle-ps 4.5s ease-in-out forwards;
}
.circle-figma {
  -webkit-animation: anim_circle-figma 4.5s ease-in-out forwards;
  animation: anim_circle-figma 4.5s ease-in-out forwards;
}

.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}

@-webkit-keyframes anim_circle-html {
  to {
    stroke-dashoffset: 75;
  }
}
@keyframes anim_circle-html {
  to {
    stroke-dashoffset: 75;
  }
}
@-webkit-keyframes anim_circle-css {
  to {
    stroke-dashoffset: 98;
  }
}
@keyframes anim_circle-css {
  to {
    stroke-dashoffset: 98;
  }
}
@-webkit-keyframes anim_circle-bootstrap {
  to {
    stroke-dashoffset: 287.2;
  }
}
@keyframes anim_circle-bootstrap {
  to {
    stroke-dashoffset: 287.2;
  }
}
@-webkit-keyframes anim_circle-js {
  to {
    stroke-dashoffset: 290;
  }
}
@keyframes anim_circle-js {
  to {
    stroke-dashoffset: 290;
  }
}
@-webkit-keyframes anim_circle-jquery {
  to {
    stroke-dashoffset: 358;
  }
}
@keyframes anim_circle-jquery {
  to {
    stroke-dashoffset: 358;
  }
}
@-webkit-keyframes anim_circle-node {
  to {
    stroke-dashoffset: 418;
  }
}
@keyframes anim_circle-node {
  to {
    stroke-dashoffset: 418;
  }
}
@-webkit-keyframes anim_circle-express {
  to {
    stroke-dashoffset: 432;
  }
}
@keyframes anim_circle-express {
  to {
    stroke-dashoffset: 432;
  }
}
@-webkit-keyframes anim_circle-ps {
  to {
    stroke-dashoffset: 408;
  }
}
@keyframes anim_circle-ps {
  to {
    stroke-dashoffset: 408;
  }
}
@-webkit-keyframes anim_circle-figma {
  to {
    stroke-dashoffset: 431.2;
  }
}
@keyframes anim_circle-figma {
  to {
    stroke-dashoffset: 431.2;
  }
}

/* --------------------------------------------PAGE-PORTFOLIO-------------------------------------------- */
.page-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 12rem 4rem 6rem 4rem;
  pointer-events: none;
  overflow: hidden;
  margin: 0;
}
@media screen and (max-width: 460px) {
  .page-portfolio {
    padding: 12rem 1rem 6rem 0;
  }
}
.container-lg {
  margin-bottom: 150px;
  min-width: 320px;
  max-width: 73%;
}
@media screen and (min-height: 930px) {
  .container-lg {
    max-width: 60%;
  }
}

iframe {
  min-width: 100%;
  height: 650px;
  position: relative;
  margin: 0;
}

#container-iframe {
  perspective: 15px;
}

#container-iframe a {
  position: relative;
  font-family: "Shadows Into Light";
  /* font-family: "La Belle Aurore", cursive; */
  color: white;
  font-size: 1rem;
  text-decoration: none;
  top: 30px;
}

#container-iframe a:hover {
  color: purple;
}

#container-iframe2 a {
  position: relative;
  top: 30px;
  font-family: "Shadows Into Light";
  /* font-family: "La Belle Aurore", cursive; */
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

#container-iframe2 a:hover {
  color: purple;
}

#container-iframe3 a {
  position: relative;
  top: 30px;
  font-family: "Shadows Into Light";
  /* font-family: "La Belle Aurore", cursive; */
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

#container-iframe3 a:hover {
  color: purple;
}

#inner-iframe {
  transition: transform 0.5s;
  box-shadow: 0 0 50px #782929;
  border-radius: 15px;
  overflow: hidden;
}

#container-frame:hover iframe {
  opacity: 1;
}

#container-iframe2 {
  perspective: 15px;
}

#inner-iframe2 {
  transition: transform 0.5s;
  box-shadow: 0 0 50px #782929;
  border-radius: 15px;
  overflow: hidden;
}

#container-frame2:hover iframe {
  opacity: 1;
}

#container-iframe3 {
  perspective: 15px;
}

#inner-iframe3 {
  transition: transform 0.5s;
  box-shadow: 0 0 50px #782929;
  border-bottom-color: green;
  border-radius: 15px;
  overflow: hidden;
}

#container-frame3:hover iframe {
  opacity: 1;
}

/* ------------------------------------------PAGE CONTACT---------------------------------------------- */

.page-contact {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  overflow: hidden;
  margin: 0;
  text-align: center;
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  .page-contact {
    display: block;
  }
}

.page-contact .text-zone {
  position: relative;
  width: 50%;
  background: transparent;
  padding: 12rem 2.5rem 8rem;
  min-width: 300px;
}
@media screen and (max-width: 1200px) {
  .page-contact .text-zone {
    width: 75%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .page-contact .text-zone {
    padding: 6rem 2rem 3rem;
  }
}
@media screen and (max-width: 700px) {
  .page-contact .text-zone {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .page-contact .text-zone {
    padding: 9rem 1rem 8rem;
    text-align: left;
  }
}
/* @media screen and (max-width: 390px) {
  .page-contact .text-zone {
    width: 100%;
    margin-left: -60px;
    text-align: left;
    padding: 0.5rem;
  }
} */
.contact-title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .contact-title {
    font-size: 1.9rem;
  }
}
.contact-title::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: relative;
  top: -30px;
  left: 10px;
}

.contact-title::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: relative;
  top: 20px;
}

/* @media screen and (max-width: 390px) {
  .contact-title::after {
    left: 180px;
    bottom: 20px;
  }
} */

.contact-title span:hover {
  display: inline-block;
  color: teal;
  animation: letters 0.9s;
}

.introText3 {
  display: inline-block;
  font-size: clamp(1rem, 1.5rem + 1.9vw, 1rem);
  color: #fff;
  margin: 10px 0;
  font-style: italic;
  opacity: 0;
  animation: fade-in3 4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  width: 80%;
}

.introText3::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -25px;
  left: -10px;
}

.introText3::after {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.2rem;
  position: absolute;
  right: -10px;
  bottom: -25px;
}

@media screen and (max-width: 1200px) {
  .introText3 {
    width: 99%;
  }
}
@media screen and (max-width: 580px) {
  .introText3 {
    margin: 0;
  }
}
@keyframes fade-in3 {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* ----FORM--- */

#contact-form {
  width: 100%;
  padding-top: 5rem;
  display: block;
  position: relative;
}
@media screen and (max-width: 1200px) {
  #contact-form {
    width: 100%;
  }
}
.form-field {
  margin-bottom: 9px;
}

.underline {
  position: relative;
  bottom: 20px;
  left: 0;
  width: 0;
  height: 2px;
  display: inline-block;
  background-color: #720669;
  transition: width 0.3s ease-in-out;
}

.form-control:focus + .underline {
  width: 100%;
}

.form-field:first-child {
  width: 49%;
  float: left;
  margin-bottom: 9px;
  clear: none;
}

.form-field:nth-child(2) {
  width: 49%;
  float: right;
  clear: none;
}

.form-control {
  outline: none;
  border-radius: 0;
  background-color: rgb(128, 234, 221);
}

.form-control:focus {
  background-color: rgb(128, 234, 221);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact-form label {
  color: rgb(227, 215, 215);
  font-size: 0.9rem;
}

.text-msg {
  outline: none;
  margin: 0;
}

.form-send {
  border: 0;
  text-transform: uppercase;
  width: 100%;
}

.btn-send {
  background: rgb(128, 234, 221) !important;
  border-radius: 0;
  color: rgb(131, 125, 125);
}

/* ---MAP--- */

.contact-right {
  width: 45%;
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .contact-right {
    position: relative !important;
    height: 40rem;
    width: 100%;
  }
}

.google-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .google-map {
    position: relative !important;
    height: 40rem;
    width: 100%;
    padding: 5px 10px 100px 10px;
  }
}

.gmap-canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
}

#gmap-canvas {
  width: 100%;
  height: 100%;
}

/* ----------------------ANIMATED BANNER---------------- */

.animatedContainer {
  position: relative;
}

.rotatingContent1 {
  position: fixed;
  left: 1%;
  top: auto;
  right: -60%;
  bottom: auto;
  z-index: 2;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  color: #000;
  text-decoration: none;
  cursor: none;
  background-color: rgb(94, 12, 94);
  box-shadow: none;
  transform: scale(1.2) rotate(45deg);
}

@media screen and (max-width: 479px) {
  .rotatingContent1 {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.rotatingContent2 {
  position: fixed;
  left: -30%;
  top: auto;
  right: -89%;
  bottom: 0;
  z-index: 2;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  overflow: hidden;
  color: black;
  align-items: center;
  transform: scale(1.2) rotate(-45deg);
  background-color: rgb(94, 12, 94);
  text-decoration: none;
  cursor: none;
}
@media screen and (max-width: 479px) {
  .rotatingContent1 {
    left: 0;
    right: -25%;
  }

  .rotatingContent2 {
    left: 0;
    right: -25%;
  }
}
@media screen and (max-width: 479px) {
  .rotatingContent2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.rotator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animatedText {
  font-size: 4vw;
  color: #9eeae6;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  white-space: nowrap;
}

@media screen and (min-width: 993px) {
  .animatedText {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5vw;
    line-height: 1;
    white-space: nowrap;
  }
}

@media screen and (max-width: 992px) {
  .animatedText {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 479px) {
  .animatedText {
    font-size: 2.5vw;
  }
}

.icon {
  width: 1.5vw;
  height: 1px;
  flex: 0 0 auto;
  margin-right: 15px;
  margin-left: 15px;
  background-color: white;
}

/* .rotator {
    animation: slide-right 14s linear infinite;
  }
  @keyframes slide-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  } */

/* ----CANVA FOR THE MOUSE EFFECT--- */

#canvas {
  position: absolute;
  display: inline-block;
  z-index: -10;
  left: 0;
  top: 0;
  pointer-events: none;
}

/* ------ACTIVE CLASSES INCORPORATE WITH JQUERY------ */

.inactive-page-home {
  opacity: 0;
  display: none;
}

.active-page {
  position: relative;
  opacity: 1;
  transition: opacity 3s ease;
  pointer-events: auto;
}
